include ../vars
doctype html
block vars
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		title=title
		link(rel="shortcut icon" href="uploads/favicon/favicon.ico" type="image/x-icon")
		link(rel="apple-touch-icon" sizes="180x180" href="uploads/favicon/apple-touch-icon.png")
		link(rel="icon" type="image/png" sizes="32x32" href="uploads/favicon/favicon-32x32.png")
		link(rel="icon" type="image/png" sizes="16x16" href="uploads/favicon/favicon-16x16.png")
		link(rel="apple-touch-icon" href="uploads/favicon/apple-touch-icon.png")
		link(rel="manifest" href="uploads/favicon/site.webmanifest")
		link(rel="mask-icon" href="uploads/favicon/safari-pinned-tab.svg" color="#5bbad5")
		meta(name="msapplication-TileImage" content="uploads/favicon/mstile-150x150.png")
		meta(name="msapplication-TileColor" content="#da532c")
		meta(name="theme-color" content="#ffffff")
	body
		script.
			let docLoad = false;

			document.addEventListener('wheel', (event)=> {
				if (!docLoad) {
					return false;
				}
			});
		.wrap
			link(rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css")
			link(rel="stylesheet" href="template/libs/noUiSlider/nouislider.min.css")
			link(rel="stylesheet" href="template/css/style.css" + version)
			link(rel="stylesheet" href="template/css/responsive.css" + version)


			+style('header', 'blocks')
			include ../../blocks/header/header
			+script('header', 'blocks')
			
			main.main.sections
				block content

			+style('footer', 'blocks')
			include ../../blocks/footer/footer

			script(async="").
				!function(e,t){var i=e.getElementsByTagName("script")[0];n=e.createElement("script"),n.src="https://pb13347.profitbase.ru/assets/js/sw.js",n.async=!0,n.onload=function(){t.pb_front_widget.init("https://pb13347.profitbase.ru/api/v2/json/sitewidget/widget",{ pb_api_key:"5403cd8fe9db626b23e90167b81ec582"})},i.parentNode.insertBefore(n,i)}(document,window);
			script(src="https://unpkg.com/swiper/swiper-bundle.min.js")
			script(src="template/libs/noUiSlider/nouislider.min.js")
			script(src="https://unpkg.com/imask")
			+script('field', 'components')
			+script('check', 'components')
			+script('tabs', 'components')
			+script('select', 'components')
			+script('popup', 'components')
			+script('sscroll', 'components')
			script(src="template/js/common.js" + version)