.field__wrap {
  position: relative;
  cursor: text;
}
.field__area {
  display: block;
  font-size: 16px;
  font-family: "Manrope", sans-serif;
  width: 100%;
  overflow: hidden;
  resize: none;
  transition: 0.3s;
  border: 1px solid transparent;
}
.field__area::placeholder {
  opacity: 0;
}
.field__placeholder {
  position: absolute;
  left: 0;
  right: 0;
  transition: 0.3s;
  color: #929292;
  margin-top: 0;
}
.field__desc {
  z-index: 5;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.field__message {
  color: #F25F3F;
  opacity: 0;
  transition: 0.3s;
}
.field.--input .field__placeholder {
  top: 50%;
  transform: translateY(-50%);
}
.field.--textarea .field__placeholder {
  top: 0;
}
.field.--xs .field__placeholder {
  font-size: 12px;
  padding-left: 10px;
  padding-right: 10px;
}
.field.--xs.--textarea .field__placeholder {
  line-height: 1.4;
  padding-top: 8px;
}
.field.--xs input.field__area {
  font-size: 12px;
  height: 46px;
  padding-left: 10px;
  padding-right: 10px;
}
.field.--xs textarea.field__area {
  font-size: 12px;
  line-height: 1.4;
  height: 100px;
  padding: 8px 10px 8px 10px;
}
.field.--sm .field__placeholder {
  font-size: 14px;
  padding-left: 10px;
  padding-right: 10px;
}
.field.--sm.--textarea .field__placeholder {
  line-height: 1.4;
  padding-top: 8px;
}
.field.--sm input.field__area {
  font-size: 14px;
  height: 50px;
  padding-left: 10px;
  padding-right: 10px;
}
.field.--sm textarea.field__area {
  font-size: 14px;
  line-height: 1.4;
  height: 80px;
  padding: 8px 10px 8px 10px;
}
.field.--md .field__placeholder {
  font-size: 20px;
  padding-left: 16px;
  padding-right: 16px;
}
.field.--md.--textarea .field__placeholder {
  line-height: 28px;
  padding-top: 14px;
}
.field.--md input.field__area {
  font-size: 20px;
  height: 60px;
  padding-left: 16px;
  padding-right: 16px;
}
.field.--md textarea.field__area {
  font-size: 20px;
  line-height: 28px;
  height: 120px;
  padding: 14px 16px 14px 16px;
}
.field.--md .field__title {
  font-size: 12px;
  line-height: 16px;
  margin-bottom: 12px;
  font-weight: 700;
  letter-spacing: 0.01em;
  text-transform: uppercase;
}
.field.--md .field__desc {
  font-size: 20px;
  line-height: 28px;
  right: 16px;
}
.field.--md .field__message {
  font-size: 12px;
  line-height: 16px;
  margin-top: 2px;
}
.field.--md.--desc input.field__area {
  padding-right: 40px;
}
.field.--md.--title input.field__area {
  font-size: 16px;
  padding-top: 16px;
  color: #1A1A1A;
}
.field.--md.--title .field__placeholder {
  font-size: 16px;
}
.field.--md.--title.--filled .field__placeholder, .field.--md.--title.--focus .field__placeholder {
  opacity: 1;
  font-size: 12px;
  margin-top: -14px;
}
.field.--lg .field__placeholder {
  font-size: 18px;
  padding-left: 25px;
  padding-right: 25px;
}
.field.--lg.--textarea .field__placeholder {
  line-height: 1.4;
  padding-top: 23px;
}
.field.--lg input.field__area {
  font-size: 18px;
  height: 62px;
  padding-left: 25px;
  padding-right: 25px;
}
.field.--lg textarea.field__area {
  font-size: 18px;
  line-height: 1.4;
  height: 160px;
  padding: 23px 25px 23px 25px;
}
.field.--bg-white .field__area {
  color: #929292;
  background-color: #fff;
  border-color: #fff;
}
.field.--bg-white .field__desc {
  color: #929292;
}
.field.--b-gray .field__area {
  border-color: #F0F0F0;
}
.field.--focus .field__placeholder, .field.--filled .field__placeholder {
  opacity: 0;
}
.field.--error .field__area {
  border-color: #F25F3F;
}
.field.--error .field__message {
  display: block;
}