.button {
  z-index: 1;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  font-size: 16px;
  font-family: "Manrope", sans-serif;
  overflow: hidden;
  border: none;
  background-color: transparent;
  transition: 0.3s;
  outline: none;
  border-bottom: none;
}
.button span + svg {
  position: relative;
  left: 0;
}
.button.--b-gray {
  border: 1px solid #eee;
  border-radius: 5px;
}
.button.--xs {
  font-size: 14px;
  min-height: 36px;
  padding-left: 10px;
  padding-right: 10px;
}
.button.--xs svg + span {
  margin-left: 7px;
}
.button.--xs span + svg {
  margin-left: 7px;
}
.button.--sm {
  font-size: 14px;
  min-height: 40px;
}
.button.--md {
  font-size: 16px;
  min-height: 58px;
  padding-left: 28px;
  padding-right: 28px;
  font-weight: 600;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.02em;
}
.button.--md svg + span {
  margin-left: 10px;
}
.button.--md span + svg {
  margin-left: 10px;
}
.button.--md:hover svg {
  left: 5px;
}
.button.--lg {
  font-size: 14px;
  min-height: 180px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.02em;
}
.button.--lg svg + span {
  margin-left: 10px;
}
.button.--lg span + svg {
  margin-left: 10px;
}
.button.--lg:hover svg {
  left: 5px;
}
.button.--icon-box {
  flex-direction: column;
  padding-left: 0;
  padding-right: 0;
}
.button.--icon-box .button__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  transition: 0.3s;
  border: 1px solid transparent;
}
.button.--icon-box .button__title {
  color: #1A1A1A;
  transition: 0.3s;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  margin-top: 8px;
  font-weight: 700;
}
.button.--icon-box.--orange .button__icon {
  border-color: #D67C32;
}
.button.--icon-box.--orange .button__icon path[fill] {
  fill: #D67C32;
}
.button.--icon-box.--orange:hover .button__icon {
  border-color: #D67C32;
  background-color: #D67C32;
}
.button.--icon-box.--orange:hover .button__icon path[fill] {
  fill: #fff;
}
.button.--bg-white {
  color: #D67C32;
  background-color: #fff;
}
.button.--bg-white:hover {
  color: #fff;
  background-color: #D67C32;
}
.button.--bg-white:hover path[fill] {
  fill: #fff;
}
.button.--bg-orange {
  color: #fff;
  background-color: #D67C32;
}
.button.--bg-orange:hover {
  background-color: #c76f28;
}