html.sscroll-overflow-disable, body.sscroll-overflow-disable {
  overflow: hidden;
}

.sscroll__section-inner {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow-y: auto;
  height: 100%;
}