@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;600;700&display=swap");
@font-face {
  font-family: "Bebas Neue";
  src: url("../fonts/BebasNeue/BebasNeueRegular.eot");
  src: local("Bebas Neue Regular"), local("BebasNeueRegular"), url("../fonts/BebasNeue/BebasNeueRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/BebasNeue/BebasNeueRegular.woff") format("woff"), url("../fonts/BebasNeue/BebasNeueRegular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Bebas Neue";
  src: url("../fonts/BebasNeue/BebasNeueBold.eot");
  src: local("Bebas Neue Bold"), local("BebasNeueBold"), url("../fonts/BebasNeue/BebasNeueBold.eot?#iefix") format("embedded-opentype"), url("../fonts/BebasNeue/BebasNeueBold.woff") format("woff"), url("../fonts/BebasNeue/BebasNeueBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
*, :before, :after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

html, body {
  min-height: 100vh;
}

body {
  color: #1A1A1A;
  font-size: 16px;
  font-family: "Manrope", sans-serif;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  font-weight: 400;
  background-color: #F9F6F4;
}

h1, h2, h3, h4, h5, h6 {
  font: inherit;
  display: inline;
}

ol, ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

li {
  display: block;
  list-style-image: none;
}

a {
  color: #1A1A1A;
  text-decoration: none;
  outline: none;
  transition: 0.3s;
  border-bottom: 1px solid transparent;
}
a[href*=tel] {
  border-bottom: none;
  cursor: default;
}

input, textarea, button {
  outline: none;
  appearance: none;
}

var {
  font-style: normal;
}

strong {
  font-weight: 700;
}

i {
  font-style: normal;
}

u {
  text-decoration: none;
}

picture {
  display: block;
}

img {
  display: block;
  max-width: 100% !important;
  max-height: 100% !important;
}

svg {
  display: block;
}

img, svg, path, circle, rect, line {
  transition: 0.3s;
}

.wrap {
  display: flex;
  flex-direction: column;
}

.case {
  position: relative;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  max-width: 1325px;
}
.case .case {
  padding-left: 0;
  padding-right: 0;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col {
  display: flex;
  flex-direction: column;
}

.grid {
  display: grid;
}

.left {
  margin-right: auto;
}

.mid {
  margin-left: auto;
  margin-right: auto;
}

.right {
  margin-left: auto;
}

html.sscroll-overflow-disable, body.sscroll-overflow-disable {
  overflow: hidden;
}

.sscroll__section-inner {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow-y: auto;
  height: 100%;
}

.button {
  z-index: 1;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  font-size: 16px;
  font-family: "Manrope", sans-serif;
  overflow: hidden;
  border: none;
  background-color: transparent;
  transition: 0.3s;
  outline: none;
  border-bottom: none;
}
.button span + svg {
  position: relative;
  left: 0;
}
.button.--b-gray {
  border: 1px solid #eee;
  border-radius: 5px;
}
.button.--xs {
  font-size: 14px;
  min-height: 36px;
  padding-left: 10px;
  padding-right: 10px;
}
.button.--xs svg + span {
  margin-left: 7px;
}
.button.--xs span + svg {
  margin-left: 7px;
}
.button.--sm {
  font-size: 14px;
  min-height: 40px;
}
.button.--md {
  font-size: 16px;
  min-height: 58px;
  padding-left: 28px;
  padding-right: 28px;
  font-weight: 600;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.02em;
}
.button.--md svg + span {
  margin-left: 10px;
}
.button.--md span + svg {
  margin-left: 10px;
}
.button.--md:hover svg {
  left: 5px;
}
.button.--lg {
  font-size: 14px;
  min-height: 180px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.02em;
}
.button.--lg svg + span {
  margin-left: 10px;
}
.button.--lg span + svg {
  margin-left: 10px;
}
.button.--lg:hover svg {
  left: 5px;
}
.button.--icon-box {
  flex-direction: column;
  padding-left: 0;
  padding-right: 0;
}
.button.--icon-box .button__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  transition: 0.3s;
  border: 1px solid transparent;
}
.button.--icon-box .button__title {
  color: #1A1A1A;
  transition: 0.3s;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  margin-top: 8px;
  font-weight: 700;
}
.button.--icon-box.--orange .button__icon {
  border-color: #D67C32;
}
.button.--icon-box.--orange .button__icon path[fill] {
  fill: #D67C32;
}
.button.--icon-box.--orange:hover .button__icon {
  border-color: #D67C32;
  background-color: #D67C32;
}
.button.--icon-box.--orange:hover .button__icon path[fill] {
  fill: #fff;
}
.button.--bg-white {
  color: #D67C32;
  background-color: #fff;
}
.button.--bg-white:hover {
  color: #fff;
  background-color: #D67C32;
}
.button.--bg-white:hover path[fill] {
  fill: #fff;
}
.button.--bg-orange {
  color: #fff;
  background-color: #D67C32;
}
.button.--bg-orange:hover {
  background-color: #c76f28;
}

.field__wrap {
  position: relative;
  cursor: text;
}
.field__area {
  display: block;
  font-size: 16px;
  font-family: "Manrope", sans-serif;
  width: 100%;
  overflow: hidden;
  resize: none;
  transition: 0.3s;
  border: 1px solid transparent;
}
.field__area::placeholder {
  opacity: 0;
}
.field__placeholder {
  position: absolute;
  left: 0;
  right: 0;
  transition: 0.3s;
  color: #929292;
  margin-top: 0;
}
.field__desc {
  z-index: 5;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.field__message {
  color: #F25F3F;
  opacity: 0;
  transition: 0.3s;
}
.field.--input .field__placeholder {
  top: 50%;
  transform: translateY(-50%);
}
.field.--textarea .field__placeholder {
  top: 0;
}
.field.--xs .field__placeholder {
  font-size: 12px;
  padding-left: 10px;
  padding-right: 10px;
}
.field.--xs.--textarea .field__placeholder {
  line-height: 1.4;
  padding-top: 8px;
}
.field.--xs input.field__area {
  font-size: 12px;
  height: 46px;
  padding-left: 10px;
  padding-right: 10px;
}
.field.--xs textarea.field__area {
  font-size: 12px;
  line-height: 1.4;
  height: 100px;
  padding: 8px 10px 8px 10px;
}
.field.--sm .field__placeholder {
  font-size: 14px;
  padding-left: 10px;
  padding-right: 10px;
}
.field.--sm.--textarea .field__placeholder {
  line-height: 1.4;
  padding-top: 8px;
}
.field.--sm input.field__area {
  font-size: 14px;
  height: 50px;
  padding-left: 10px;
  padding-right: 10px;
}
.field.--sm textarea.field__area {
  font-size: 14px;
  line-height: 1.4;
  height: 80px;
  padding: 8px 10px 8px 10px;
}
.field.--md .field__placeholder {
  font-size: 20px;
  padding-left: 16px;
  padding-right: 16px;
}
.field.--md.--textarea .field__placeholder {
  line-height: 28px;
  padding-top: 14px;
}
.field.--md input.field__area {
  font-size: 20px;
  height: 60px;
  padding-left: 16px;
  padding-right: 16px;
}
.field.--md textarea.field__area {
  font-size: 20px;
  line-height: 28px;
  height: 120px;
  padding: 14px 16px 14px 16px;
}
.field.--md .field__title {
  font-size: 12px;
  line-height: 16px;
  margin-bottom: 12px;
  font-weight: 700;
  letter-spacing: 0.01em;
  text-transform: uppercase;
}
.field.--md .field__desc {
  font-size: 20px;
  line-height: 28px;
  right: 16px;
}
.field.--md .field__message {
  font-size: 12px;
  line-height: 16px;
  margin-top: 2px;
}
.field.--md.--desc input.field__area {
  padding-right: 40px;
}
.field.--md.--title input.field__area {
  font-size: 16px;
  padding-top: 16px;
  color: #1A1A1A;
}
.field.--md.--title .field__placeholder {
  font-size: 16px;
}
.field.--md.--title.--filled .field__placeholder, .field.--md.--title.--focus .field__placeholder {
  opacity: 1;
  font-size: 12px;
  margin-top: -14px;
}
.field.--lg .field__placeholder {
  font-size: 18px;
  padding-left: 25px;
  padding-right: 25px;
}
.field.--lg.--textarea .field__placeholder {
  line-height: 1.4;
  padding-top: 23px;
}
.field.--lg input.field__area {
  font-size: 18px;
  height: 62px;
  padding-left: 25px;
  padding-right: 25px;
}
.field.--lg textarea.field__area {
  font-size: 18px;
  line-height: 1.4;
  height: 160px;
  padding: 23px 25px 23px 25px;
}
.field.--bg-white .field__area {
  color: #929292;
  background-color: #fff;
  border-color: #fff;
}
.field.--bg-white .field__desc {
  color: #929292;
}
.field.--b-gray .field__area {
  border-color: #F0F0F0;
}
.field.--focus .field__placeholder, .field.--filled .field__placeholder {
  opacity: 0;
}
.field.--error .field__area {
  border-color: #F25F3F;
}
.field.--error .field__message {
  display: block;
}

.check {
  display: inline-flex;
  cursor: pointer;
}
.check__input {
  display: none;
}
.check__box {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid transparent;
  transition: 0.3s;
}
.check__box:before {
  content: "";
  width: 100%;
  height: 100%;
  transition: 0.3s;
  opacity: 0;
  border-radius: 3px;
  transform: scale(0);
  background-color: #1A1A1A;
}
.check.--block {
  display: flex;
}
.check.--b-gray .check__box {
  border: 1px solid #eee;
}
.check.--md .check__box {
  min-width: 20px;
  width: 20px;
  height: 20px;
  padding: 3px;
}
.check.--md .check__wrap {
  width: calc(100% - 20px);
  padding-left: 10px;
  padding-top: 2px;
}
.check.--checkbox .check__box {
  border-radius: 5px;
}
.check.--radio .check__box {
  border-radius: 50%;
}
.check.--radio .check__box:before {
  border-radius: 50%;
}
.check.--toggle .check__box {
  width: 40px;
}
.check.--toggle .check__box:before {
  opacity: 0.4;
  width: 12px;
  transform: none;
  margin-left: 12px;
}
.check.--toggle.--checked .check__box:before {
  opacity: 1;
  margin-left: -12px;
}
.check.--checked .check__box:before {
  opacity: 1;
  transform: scale(1);
}

.select {
  position: relative;
  cursor: pointer;
}
.select__wrap {
  position: relative;
}
.select__area {
  display: flex;
  align-items: center;
  width: 100%;
  border: 1px solid transparent;
}
.select__title {
  white-space: nowrap;
  text-overflow: ellipsis;
  transition: 0.3s;
}
.select__icon svg {
  transition: 0.3s;
}
.select__drop {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  transition: 0.3s;
  opacity: 0;
  visibility: hidden;
  border: 1px solid transparent;
  border-top: none;
  transform: translateY(10px);
  overflow-y: auto;
  color: #1A1A1A;
  background-color: #fff;
  padding-top: 8px;
  margin-top: 24px;
  min-width: 200px;
}
.select__drop:before {
  content: "";
  position: absolute;
  top: -24px;
  left: 0;
  right: 0;
  height: 24px;
}
.select__item {
  position: relative;
  transition: 0.3s;
}
.select__item:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 16px;
  right: 16px;
  height: 1px;
  background-color: #EBEBEB;
}
.select__item.--selected, .select__item:hover {
  color: #D67C32;
}
.select__item.--hidden {
  display: none;
}
.select__item:last-of-type:after {
  display: none;
}
.select__parse {
  display: none;
}
.select.--md .select__title {
  font-size: 20px;
  line-height: 28px;
}
.select.--md .select__icon {
  margin-left: 10px;
}
.select.--md .select__item {
  padding: 16px 24px;
}
.select.--open {
  z-index: 5;
}
.select.--open .select__area {
  border-radius: 5px 5px 0 0;
}
.select.--open .select__title {
  color: #D67C32;
}
.select.--open .select__icon svg {
  transform: rotate(180deg);
}
.select.--open .select__icon path[fill] {
  fill: #D67C32;
}
.select.--open .select__drop {
  opacity: 1;
  visibility: visible;
  transform: translateY(0px);
}

body.popup-show {
  overflow: hidden;
  height: 100%;
  margin-right: 12px;
}

.popup {
  z-index: 999999;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: 0.3s;
  opacity: 0;
  visibility: hidden;
}
.popup__inner {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  position: absolute;
  overflow-y: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 15px;
}
.popup__item.--show:nth-of-type(1) {
  display: block;
}
.popup__item.--show:nth-of-type(1).--flex {
  display: flex;
}
.popup__bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
}
.popup.--show {
  opacity: 1;
  visibility: visible;
}

.tabs__navs .tabs__nav {
  height: 0;
  opacity: 0;
  visibility: hidden;
}
.tabs__navs .tabs__nav.--current {
  opacity: 1;
  height: auto;
  visibility: visible;
}
.tabs__nav {
  margin-left: -16px;
  margin-right: -16px;
}
.tabs__nav.--white .tabs__nav-item {
  color: #fff;
}
.tabs__nav.--white .tabs__nav-item.--current, .tabs__nav.--white .tabs__nav-item:hover {
  color: #D67C32;
}
.tabs__nav-title {
  display: none;
}
.tabs__nav-item {
  font-size: 20px;
  line-height: 28px;
  margin-left: 16px;
  margin-right: 16px;
}
.tabs__item {
  height: 0;
  overflow: hidden;
  transition: opacity 1s;
  opacity: 0;
  visibility: hidden;
}
.tabs__item.--current {
  height: auto;
  opacity: 1;
  visibility: visible;
  overflow: visible;
}

.tal {
  text-align-last: left;
}

.tac {
  text-align: center;
}

.tar {
  text-align: right;
}

.h1 {
  font-size: 60px;
  line-height: 60px;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 700;
}

.h2 {
  font-size: 46px;
  line-height: 46px;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 700;
}
.h2 b {
  color: #D67C32;
}

.h3 {
  font-size: 40px;
  line-height: 48px;
  font-family: "Bebas Neue", sans-serif;
}
.h3 b {
  color: #D67C32;
}

.h4 {
  font-size: 32px;
  line-height: 44px;
  font-family: "Bebas Neue", sans-serif;
}
.h4 b {
  color: #D67C32;
}

.h5 {
  font-size: 20px;
  line-height: 27px;
  font-weight: 600;
}

.t1 {
  font-size: 20px;
  line-height: 28px;
}
.t1 p {
  margin-bottom: 20px;
}
.t1 p:last-child {
  margin-bottom: 0;
}

html body .pb-widget-button {
  display: none !important;
}

.bgw {
  z-index: 1;
  position: relative;
}

.bg {
  z-index: -10;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.bg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.img {
  overflow: hidden;
}
.img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.3s;
}

.header .hidden {
  display: none;
}
.header__left {
  display: flex;
  flex-direction: column;
  z-index: 100;
  position: fixed;
  width: 295px;
  top: 0;
  left: 0;
  bottom: 0;
  padding-top: 64px;
  border-right: 1px solid rgba(184, 184, 184, 0.2);
}
.header__nav-btns {
  display: none;
}
.header__phone {
  margin-top: auto;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 20px;
  line-height: 27px;
  font-weight: 600;
  margin-bottom: 64px;
}
.header__right {
  z-index: 100;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 146px;
  border-left: 1px solid rgba(184, 184, 184, 0.2);
}
.header__right-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  padding-top: 64px;
  padding-bottom: 80px;
}
.header__deadline {
  text-align: center;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0.02em;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: auto;
}
.header__messengers {
  margin-top: auto;
}
.header__camera {
  margin-top: 50px;
}
.header.--light .header__left, .header.--light .header__right {
  border-color: rgba(255, 255, 255, 0.2);
}
.header.--light .header__phone a {
  color: #fff;
}
.header.--light .header__deadline {
  color: #fff;
}
.header.--light .nav__item {
  color: #fff;
}
.header.--light .nav__item:hover {
  color: #D67C32;
}
.header.--light .button.--icon-box.--orange .button__icon {
  border-color: #fff;
}
.header.--light .button.--icon-box.--orange .button__icon path[fill] {
  fill: #fff;
}
.header.--light .button.--icon-box.--orange .button__title {
  color: #fff;
}
.header.--light .button.--icon-box.--orange:hover .button__icon {
  border-color: #D67C32;
  background-color: #D67C32;
}
.header.--light .button.--icon-box.--orange:hover .button__icon path[fill] {
  fill: #fff;
}

.nav {
  padding: 0 15px 40px 20px;
}
.nav__item {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
  border-bottom: none;
  transform: translateX(-37px);
}
.nav__item:last-of-type {
  margin-bottom: 0;
}
.nav__item.--current {
  transform: translateX(0px);
}
.nav__item.--current .nav__icon {
  display: block;
  opacity: 1;
}
.nav__item.--current .nav__name {
  color: #D67C32;
}
.nav__item:hover {
  color: #D67C32;
}
.nav__icon {
  min-width: 21px;
  transition: 0.3s;
  opacity: 0;
}
.nav__name {
  padding-left: 16px;
  transition: 0.3s;
}

.messengers__item {
  margin-bottom: 12px;
}
.messengers__item:last-of-type {
  margin-bottom: 0;
}
.messengers__item.--hidden {
  display: none;
}

.section {
  overflow: hidden;
  min-height: 100vh;
}
.section.--h-auto {
  min-height: 1px;
}
.section__inner {
  padding-left: 125px;
  overflow-x: hidden;
}
.section .case {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
}
.section__wrap {
  position: relative;
  width: 100%;
}

.c-white {
  color: #fff;
}

.c-orange {
  color: #D67C32;
}

.bg-brown {
  background: #312621;
}

.intro .case {
  padding-top: 64px;
}
.intro__content {
  padding-bottom: 280px;
}
.intro__top {
  position: absolute;
  top: 64px;
  left: 15px;
  right: 0;
  justify-content: space-between;
}
.intro__top-text {
  font-size: 16px;
  line-height: 22px;
  font-weight: 600;
}
.intro__top-text:nth-of-type(2) {
  margin-right: 25px;
}
.intro__title {
  margin-bottom: 20px;
}
.intro__text {
  font-size: 20px;
  line-height: 28px;
}
.intro__controls {
  align-items: center;
  position: absolute;
  bottom: 84px;
  left: 15px;
  right: 15px;
  padding-right: 15px;
}
.intro__video {
  margin-left: auto;
}
.intro__shadow {
  z-index: -1;
  position: absolute;
}
.intro__shadow.--top {
  top: 0;
  left: 0;
  right: 0;
  height: 206px;
  background: linear-gradient(180deg, rgba(26, 26, 26, 0.53) 6.72%, rgba(26, 26, 26, 0) 95.86%);
}
.intro__shadow.--left {
  left: 0;
  top: 0;
  bottom: 0;
  width: 50%;
  background: linear-gradient(90deg, rgba(26, 26, 26, 0.77) 1.81%, rgba(26, 26, 26, 0.4) 62.72%, rgba(26, 26, 26, 0) 99.18%);
}
.intro__shadow.--right {
  right: 0;
  top: 0;
  bottom: 0;
  width: 146px;
  background: linear-gradient(-90deg, rgba(26, 26, 26, 0.22) 1.87%, rgba(26, 26, 26, 0) 117.07%);
}
.intro__shadow.--bottom {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.07;
  background-color: #1A1A1A;
}

@keyframes arrowBounce {
  0% {
    bottom: 0;
  }
  50% {
    bottom: -15px;
  }
  100% {
    bottom: 0;
  }
}
.down {
  display: flex;
}
.down__title {
  font-size: 12px;
  line-height: 16px;
  font-weight: 600;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.down__icon {
  margin-left: 18px;
  position: relative;
  bottom: 0;
  transition: 0.3s;
  animation: arrowBounce 3s ease-in-out infinite;
}

.video-btn {
  z-index: 1;
  position: relative;
}
.video-btn__title {
  position: absolute;
  font-size: 12px;
  line-height: 16px;
  font-weight: 700;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  top: 0;
  left: -100%;
  color: #fff;
  margin-left: -24px;
}
.video-btn__wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 97px;
  height: 97px;
  border-radius: 50%;
  transition: 0.3s;
  background-color: #D67C32;
  cursor: pointer;
}
.video-btn__wrap:hover {
  background-color: #c76f28;
}
.video-btn__box svg {
  margin-left: 4px;
}
.video-btn__round {
  opacity: 0;
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 50%;
  border: 1px solid #D67C32;
}
.video-btn__round:nth-of-type(1) {
  animation: roundBounce 3s ease-in-out 0s infinite;
}
.video-btn__round:nth-of-type(2) {
  animation: roundBounce 3s ease-in-out 1s infinite;
}
.video-btn__round:nth-of-type(3) {
  animation: roundBounce 3s ease-in-out 2s infinite;
}

@keyframes roundBounce {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.25;
  }
  100% {
    opacity: 0;
    top: -32px;
    left: -32px;
    right: -32px;
    bottom: -32px;
  }
}
.about {
  z-index: 1;
  position: relative;
}
.about__inner {
  padding-top: 132px;
  padding-bottom: 132px;
}
.about__title {
  padding-left: 62px;
  margin-bottom: 64px;
}
.about__lines {
  z-index: -1;
  position: absolute;
  top: -185px;
  left: 50%;
  margin-left: -10px;
  transform: translateX(-50%);
}
.about__counts {
  margin-top: 95px;
}
.about__desc {
  margin-top: 84px;
}

.block__img-wrap {
  width: 54%;
  padding-top: 7px;
}
.block__img {
  height: 778px;
}
.block__content {
  width: 46%;
  padding-left: 60px;
}
.block__text {
  margin-bottom: 55px;
}
.block__text:last-child {
  margin-bottom: 0;
}

.icons__list {
  grid: none/repeat(2, 1fr);
  gap: 44px;
}
.icons__icon {
  display: flex;
  align-items: center;
  height: 48px;
  margin-bottom: 12px;
}
.icons__text {
  font-size: 16px;
  line-height: 24px;
}

.counts__title {
  margin-bottom: 55px;
}
.counts__list {
  margin-left: -35px;
  margin-right: -35px;
  justify-content: center;
}
.counts__item {
  padding-left: 35px;
  padding-right: 35px;
  text-align: center;
  min-width: 306px;
}
.counts__count {
  font-size: 120px;
  line-height: 144px;
  font-family: "Bebas Neue", sans-serif;
}
.counts__count:after {
  display: block;
  content: "";
  width: 67px;
  height: 1px;
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
  background-color: #D67C32;
}
.counts__name {
  margin-top: 24px;
  font-size: 20px;
  line-height: 28px;
}

.a-desc__content {
  width: calc(100% - 524px);
  padding-left: 220px;
  padding-right: 135px;
}
.a-desc__text p {
  margin-bottom: 16px;
}
.a-desc__button {
  display: inline-flex;
  margin-top: 56px;
}
.a-desc__img-wrap {
  width: 524px;
}
.a-desc__img {
  height: 349px;
}

.structure__inner {
  padding-top: 132px;
  padding-bottom: 100px;
}
.structure__title {
  margin-bottom: 70px;
}
.structure__catalog {
  margin-top: 95px;
}

.tb {
  width: 100%;
}
.tb__text {
  width: 660px;
  padding-left: 110px;
  padding-right: 135px;
}
.tb__block {
  width: calc(100% - 660px);
  padding-top: 7px;
}
.tb__map {
  border: 1px solid #929292;
  height: 660px;
}
.tb__img {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 660px;
  border: 1px solid #929292;
  background-color: #fff;
}
.tb__img.--b-none {
  border: none;
}

.location {
  position: relative;
  overflow: hidden;
}
.location__map {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.location__filter {
  z-index: 2;
  position: absolute;
  width: 236px;
  top: 0;
  left: 0;
  bottom: 0;
  transition: 0.3s;
  transform: translateX(-100%);
}
.location__filter.--show {
  transform: translateX(0%);
}
.location__toggle {
  z-index: 3;
  position: absolute;
  bottom: 32px;
  left: 32px;
  border-radius: 50px;
  borer: 1px solid #fff;
}
.location__toggle .button__icon {
  width: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 7px;
  position: relative;
}
.location__toggle .button__icon svg {
  transition: 0.3s;
}
.location__toggle .button__icon svg:nth-of-type(2) {
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.location__toggle .button__text {
  position: relative;
  top: -1px;
}
.location__toggle.--show {
  border: 1px solid #D67C32;
}
.location__toggle.--show .button__icon svg:nth-of-type(1) {
  opacity: 0;
}
.location__toggle.--show .button__icon svg:nth-of-type(2) {
  opacity: 1;
}

.filter {
  background-color: #fff;
  padding-top: 75px;
}
.filter__item {
  display: flex;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 5px;
  cursor: pointer;
}
.filter__item .icon-round {
  opacity: 0;
}
.filter__item:last-of-type {
  margin-bottom: 0;
}
.filter__item.--selected .filter__icon path[fill], .filter__item.--selected .filter__icon circle[fill] {
  fill: #D67C32;
}
.filter__item.--selected .filter__icon path[stroke], .filter__item.--selected .filter__icon circle[stroke] {
  stroke: #D67C32;
}
.filter__item.--selected .filter__name {
  color: #D67C32;
}
.filter__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 40px;
}
.filter__icon path[fill], .filter__icon circle[fill] {
  fill: #929292;
}
.filter__icon path[stroke], .filter__icon circle[stroke] {
  stroke: #929292;
}
.filter__name {
  padding-left: 10px;
  line-height: 24px;
  transition: 0.3s;
}

.arrow {
  width: 60px;
  height: 60px;
  background-color: #fff;
}
.arrow.--hidden {
  opacity: 0;
}
.arrow:hover {
  background-color: #D67C32;
}
.arrow:hover path[fill] {
  fill: #fff;
}

.catalog {
  width: 100%;
}
.catalog__title {
  margin-bottom: 54px;
}
.catalog__title.--mb0 {
  margin-bottom: 0;
}
.catalog__nav {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 32px;
}
.catalog__nav.--mb-more {
  margin-bottom: 54px;
}
.catalog__select {
  margin-right: 64px;
}
.catalog__tabs-nav {
  margin-right: 40px;
}
.catalog__more {
  margin-left: auto;
}
.catalog__inner {
  position: relative;
  max-width: 1296px;
}
.catalog__item.--has-popup {
  cursor: pointer;
}
.catalog__img {
  height: 540px;
}
.catalog__img.--bg {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  padding: 24px;
}
.catalog__img.--bg img {
  height: auto;
  object-fit: fill;
}
.catalog__img.--border {
  border: 1px solid #929292;
}
.catalog__name {
  margin-top: 24px;
}
.catalog__desc {
  margin-top: 4px;
  line-height: 24px;
}
.catalog__price {
  margin-top: 12px;
}
.catalog__controls-item {
  position: absolute;
  top: 240px;
}
.catalog__controls-item.--prev {
  left: 24px;
}
.catalog__controls-item.--next {
  right: 24px;
}
.catalog__popup {
  display: none;
}

.btn-more {
  display: flex;
  align-items: center;
  border-bottom: none;
}
.btn-more span {
  color: #D67C32;
  font-size: 14px;
  line-height: 19px;
  font-weight: 600;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  margin-right: 10px;
}
.btn-more svg {
  position: relative;
  transition: 0.3s;
  left: 0;
}
.btn-more svg[fill] {
  fill: #D67C32;
}
.btn-more:hover svg {
  left: 5px;
}
.btn-more:hover[fill] {
  fill: #c76f28;
}

.improvement__inner {
  padding-top: 132px;
  padding-bottom: 100px;
}
.improvement__title {
  margin-bottom: 70px;
}
.improvement__catalog {
  margin-top: 95px;
}

.object__imgs {
  min-width: 770px;
  width: 770px;
}
.object__content {
  width: 100%;
  padding: 64px;
}
.object__title {
  margin-bottom: 16px;
}
.object__button {
  display: inline-flex;
  margin-top: 53px;
}

.imgs {
  position: relative;
}
.imgs__inner, .imgs__wrap {
  height: 100%;
}
.imgs__item {
  height: auto;
}
.imgs__item .c-popup__imgs-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.imgs__nav-item {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.imgs__nav-item.--prev {
  left: 32px;
}
.imgs__nav-item.--next {
  right: 32px;
}

.gallery {
  z-index: 1;
  position: relative;
}
.gallery .case {
  height: auto;
}
.gallery__inner {
  padding-top: 132px;
  padding-bottom: 100px;
}
.gallery__title {
  margin-bottom: 64px;
}
.gallery__nav {
  margin-bottom: 32px;
  margin-left: -16px;
  margin-right: -16px;
}
.gallery__nav a {
  color: #fff;
  margin-left: 16px;
  margin-right: 16px;
}
.gallery__nav a.--current, .gallery__nav a:hover {
  color: #D67C32;
}
.gallery__slider {
  position: relative;
  max-width: 1296px;
}
.gallery__item {
  height: 716px;
}
.gallery__item h6 {
  display: block;
  z-index: 1;
  position: absolute;
  padding: 6px 10px;
  right: 32px;
  bottom: 32px;
  line-height: 24px;
  color: #1A1A1A;
  background-color: #fff;
}
.gallery__nav-item {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.gallery__nav-item.--prev {
  left: 24px;
}
.gallery__nav-item.--next {
  right: 24px;
}
.gallery__dots {
  display: none;
}
.gallery__bg {
  z-index: -1;
  position: absolute;
  top: -195px;
  left: 50%;
  margin-left: 75px;
  transform: translateX(-50%);
}

.plan {
  z-index: 1;
  position: relative;
}
.plan .case {
  height: auto;
}
.plan__inner {
  padding-top: 132px;
  padding-bottom: 100px;
  overflow-x: hidden;
}
.plan__title {
  margin-bottom: 64px;
}
.plan__bg {
  z-index: -1;
  position: absolute;
  top: -654px;
  left: 50%;
  margin-left: -160px;
  transform: translateX(-50%);
}

.parking__inner {
  width: 100%;
  padding-top: 132px;
  padding-bottom: 100px;
}
.parking__title {
  margin-bottom: 65px;
}
.parking__catalog {
  margin-top: 95px;
}

.business__inner {
  width: 100%;
  padding-top: 132px;
  padding-bottom: 100px;
}
.business__title {
  margin-bottom: 65px;
}
.business__counts {
  margin-top: 95px;
}
.business__counts .counts__count {
  color: #3C2F2B;
}
.business__catalog {
  margin-top: 95px;
}

.mortgage {
  z-index: 1;
  position: relative;
}
.mortgage__inner {
  width: 100%;
  padding-top: 132px;
  padding-bottom: 100px;
}
.mortgage__partners {
  margin-top: 95px;
}
.mortgage__bg {
  z-index: -1;
  position: absolute;
  top: -145px;
  left: 50%;
  margin-left: -85px;
  transform: translateX(-50%);
}

.calc__title {
  margin-bottom: 65px;
}
.calc__wrap {
  padding: 64px;
  background-color: #624C3B;
}
.calc__list {
  width: 50%;
  padding-right: 132px;
}
.calc__item {
  margin-bottom: 43px;
}
.calc__item:last-of-type {
  margin-bottom: 0;
}
.calc__content {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding-top: 28px;
}
.calc__data {
  margin-bottom: 50px;
}
.calc__button {
  margin-left: auto;
  margin-top: auto;
}

.c-data__list {
  border: 1px solid #3C2F2B;
  padding: 32px;
}
.c-data__item {
  margin-bottom: 24px;
}
.c-data__item:last-of-type {
  margin-bottom: 0;
}
.c-data__name {
  font-size: 20px;
  line-height: 28px;
  margin-bottom: 8px;
}
.c-data__value {
  font-size: 32px;
  line-height: 32px;
  font-weight: 700;
  font-family: "Bebas Neue", sans-serif;
}
.c-data__value u {
  font-weight: 400;
  font-size: 28px;
}
.c-data__desc {
  font-size: 14px;
  line-height: 20px;
  margin-top: 16px;
}

.noUi-target {
  background: #fff;
  border-radius: 0;
  box-shadow: none;
  border: none;
  height: 4px;
}
.noUi-target .noUi-connects {
  border-radius: 0;
}
.noUi-target .noUi-connect {
  background-color: #D67C32;
}
.noUi-target .noUi-handle {
  width: 26px;
  height: 26px;
  background-color: #fff;
  border: 4px solid #D67C32;
  border-radius: 50%;
  top: -9px;
  right: -14px;
  box-shadow: none;
}
.noUi-target .noUi-handle:before, .noUi-target .noUi-handle:after {
  display: none;
}

.partners__title {
  margin-bottom: 64px;
}
.partners__list {
  max-width: 1076px;
  grid: none/repeat(5, 1fr);
  gap: 24px;
  margin-left: auto;
  margin-right: auto;
}
.partners__item {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 196px;
  padding: 15px;
  background-color: #fff;
}

.docs .case {
  height: auto;
}
.docs__inner {
  width: 100%;
}
.docs__title {
  width: 100%;
  margin-bottom: 64px;
}
.docs__controls {
  width: 100%;
  align-items: center;
  margin-bottom: 32px;
}
.docs__controls .tabs__nav-item {
  white-space: nowrap;
}
.docs__navs {
  margin-right: 64px;
}
.docs__navs .tabs__nav.--white .tabs__nav-item.--current, .docs__navs .tabs__nav.--white .tabs__nav-item:hover {
  color: #fff;
  cursor: default;
}
.docs__subtitle {
  font-size: 20px;
  line-height: 28px;
  margin-right: 64px;
}
.docs__blocks {
  width: 100%;
  height: 445px;
  padding: 32px;
  overflow-y: auto;
  background-color: #fff;
}
.docs__item {
  display: flex;
  margin-right: auto;
  color: #1A1A1A;
  line-height: 24px;
  padding-top: 32px;
  padding-bottom: 32px;
  border-bottom: 1px solid #3C2F2B;
}
.docs__item:first-of-type {
  padding-top: 0;
}
.docs__item:last-of-type {
  padding-bottom: 0;
  border-bottom: none;
}
.docs__name {
  padding-right: 15px;
}
.docs__size {
  margin-left: auto;
}
.docs__size, .docs__type {
  color: #929292;
}
.docs__size, .docs__type, .docs__link {
  white-space: nowrap;
}
.docs__type {
  width: 93px;
  text-align: center;
}
.docs__link a:hover {
  color: #D67C32;
}

.footer {
  font-size: 14px;
  line-height: 28px;
  color: #97918F;
}
.footer__inner {
  width: 100%;
  padding-top: 60px;
  padding-bottom: 65px;
  border-top: 1px solid #554C49;
}
.footer__policy {
  margin-left: auto;
}
.footer__policy a {
  color: #97918F;
}
.footer__policy a:hover {
  color: #fff;
}

.modal {
  display: none;
  position: relative;
  background: #FFFFFF;
  width: 100%;
  box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.15);
}
.modal.--olive {
  background-color: #F9F6F4;
}
.modal.--xs {
  padding: 40px 32px 32px;
  max-width: 430px;
}
.modal.--xs .modal__close {
  top: 24px;
  right: 24px;
}
.modal.--lg {
  max-width: 1296px;
}
.modal.--lg .modal__close {
  top: 37px;
  right: 37px;
}
.modal__close {
  z-index: 5;
  position: absolute;
  cursor: pointer;
}
.modal__title {
  margin-bottom: 8px;
}
.modal__text {
  font-size: 16px;
  line-height: 24px;
  color: #979797;
  margin-bottom: 32px;
}
.modal__field {
  margin-bottom: 14px;
}
.modal__button {
  width: 100%;
}
.modal__policy {
  font-size: 13px;
  line-height: 18px;
  color: #979797;
  margin-top: 54px;
}
.modal__policy a {
  color: #D67C32;
}
.modal__policy a:hover {
  border-color: #D67C32;
}

.thanks__title {
  margin-bottom: 16px;
}
.thanks__text {
  line-height: 24px;
  color: #979797;
}

.video {
  height: 740px;
}

.x {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.x.--xs {
  width: 18px;
  height: 18px;
}
.x.--xs:before, .x.--xs:after {
  width: 18px;
  height: 2px;
}
.x.--xs:after {
  margin-top: -2px;
}
.x.--md {
  width: 25px;
  height: 25px;
}
.x.--md:before, .x.--md:after {
  width: 25px;
  height: 3px;
}
.x.--md:after {
  margin-top: -3px;
}
.x.--brown:before, .x.--brown:after {
  background-color: #624C3B;
}
.x.--white:before, .x.--white:after {
  background-color: #fff;
}
.x:before, .x:after {
  display: block;
  content: "";
  transition: 0.3s;
  background-color: #3C2F2B;
}
.x:before {
  transform: rotate(45deg);
}
.x:after {
  margin-top: -3px;
  transform: rotate(-45deg);
}
.x:hover:before, .x:hover:after {
  background-color: #D67C32;
}