include ../../pug/vars

header.header
	.header__left
		.header__nav-close.hidden.x.--white.--md.toggle-nav
		.header__nav.nav
			a.nav__item.scrollTo(href="#about-us")
				.nav__icon
					<svg width="21" height="12" viewBox="0 0 21 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M20.5303 6.53033C20.8232 6.23744 20.8232 5.76256 20.5303 5.46967L15.7574 0.696699C15.4645 0.403806 14.9896 0.403806 14.6967 0.696699C14.4038 0.989593 14.4038 1.46447 14.6967 1.75736L18.9393 6L14.6967 10.2426C14.4038 10.5355 14.4038 11.0104 14.6967 11.3033C14.9896 11.5962 15.4645 11.5962 15.7574 11.3033L20.5303 6.53033ZM0 6.75H20V5.25H0V6.75Z" fill="#D67C32"/></svg>
				.nav__name О проекте
				
			a.nav__item.scrollTo(href="#infrastructure")
				.nav__icon
					<svg width="21" height="12" viewBox="0 0 21 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M20.5303 6.53033C20.8232 6.23744 20.8232 5.76256 20.5303 5.46967L15.7574 0.696699C15.4645 0.403806 14.9896 0.403806 14.6967 0.696699C14.4038 0.989593 14.4038 1.46447 14.6967 1.75736L18.9393 6L14.6967 10.2426C14.4038 10.5355 14.4038 11.0104 14.6967 11.3033C14.9896 11.5962 15.4645 11.5962 15.7574 11.3033L20.5303 6.53033ZM0 6.75H20V5.25H0V6.75Z" fill="#D67C32"/></svg>
				.nav__name Инфраструктура
				
			a.nav__item.scrollTo(href="#improvement")
				.nav__icon
					<svg width="21" height="12" viewBox="0 0 21 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M20.5303 6.53033C20.8232 6.23744 20.8232 5.76256 20.5303 5.46967L15.7574 0.696699C15.4645 0.403806 14.9896 0.403806 14.6967 0.696699C14.4038 0.989593 14.4038 1.46447 14.6967 1.75736L18.9393 6L14.6967 10.2426C14.4038 10.5355 14.4038 11.0104 14.6967 11.3033C14.9896 11.5962 15.4645 11.5962 15.7574 11.3033L20.5303 6.53033ZM0 6.75H20V5.25H0V6.75Z" fill="#D67C32"/></svg>
				.nav__name Благоустройство
				
			a.nav__item.scrollTo(href="#gallery")
				.nav__icon
					<svg width="21" height="12" viewBox="0 0 21 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M20.5303 6.53033C20.8232 6.23744 20.8232 5.76256 20.5303 5.46967L15.7574 0.696699C15.4645 0.403806 14.9896 0.403806 14.6967 0.696699C14.4038 0.989593 14.4038 1.46447 14.6967 1.75736L18.9393 6L14.6967 10.2426C14.4038 10.5355 14.4038 11.0104 14.6967 11.3033C14.9896 11.5962 15.4645 11.5962 15.7574 11.3033L20.5303 6.53033ZM0 6.75H20V5.25H0V6.75Z" fill="#D67C32"/></svg>
				.nav__name Галерея
				
			a.nav__item.scrollTo(href="#plan")
				.nav__icon
					<svg width="21" height="12" viewBox="0 0 21 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M20.5303 6.53033C20.8232 6.23744 20.8232 5.76256 20.5303 5.46967L15.7574 0.696699C15.4645 0.403806 14.9896 0.403806 14.6967 0.696699C14.4038 0.989593 14.4038 1.46447 14.6967 1.75736L18.9393 6L14.6967 10.2426C14.4038 10.5355 14.4038 11.0104 14.6967 11.3033C14.9896 11.5962 15.4645 11.5962 15.7574 11.3033L20.5303 6.53033ZM0 6.75H20V5.25H0V6.75Z" fill="#D67C32"/></svg>
				.nav__name Планировки
				
			a.nav__item.scrollTo(href="#parking")
				.nav__icon
					<svg width="21" height="12" viewBox="0 0 21 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M20.5303 6.53033C20.8232 6.23744 20.8232 5.76256 20.5303 5.46967L15.7574 0.696699C15.4645 0.403806 14.9896 0.403806 14.6967 0.696699C14.4038 0.989593 14.4038 1.46447 14.6967 1.75736L18.9393 6L14.6967 10.2426C14.4038 10.5355 14.4038 11.0104 14.6967 11.3033C14.9896 11.5962 15.4645 11.5962 15.7574 11.3033L20.5303 6.53033ZM0 6.75H20V5.25H0V6.75Z" fill="#D67C32"/></svg>
				.nav__name Паркинг
				
			a.nav__item.scrollTo(href="#business")
				.nav__icon
					<svg width="21" height="12" viewBox="0 0 21 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M20.5303 6.53033C20.8232 6.23744 20.8232 5.76256 20.5303 5.46967L15.7574 0.696699C15.4645 0.403806 14.9896 0.403806 14.6967 0.696699C14.4038 0.989593 14.4038 1.46447 14.6967 1.75736L18.9393 6L14.6967 10.2426C14.4038 10.5355 14.4038 11.0104 14.6967 11.3033C14.9896 11.5962 15.4645 11.5962 15.7574 11.3033L20.5303 6.53033ZM0 6.75H20V5.25H0V6.75Z" fill="#D67C32"/></svg>
				.nav__name Коммерция
				
			a.nav__item.scrollTo(href="#mortgage")
				.nav__icon
					<svg width="21" height="12" viewBox="0 0 21 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M20.5303 6.53033C20.8232 6.23744 20.8232 5.76256 20.5303 5.46967L15.7574 0.696699C15.4645 0.403806 14.9896 0.403806 14.6967 0.696699C14.4038 0.989593 14.4038 1.46447 14.6967 1.75736L18.9393 6L14.6967 10.2426C14.4038 10.5355 14.4038 11.0104 14.6967 11.3033C14.9896 11.5962 15.4645 11.5962 15.7574 11.3033L20.5303 6.53033ZM0 6.75H20V5.25H0V6.75Z" fill="#D67C32"/></svg>
				.nav__name Ипотечный калькулятор
				
			a.nav__item.scrollTo(href="#process")
				.nav__icon
					<svg width="21" height="12" viewBox="0 0 21 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M20.5303 6.53033C20.8232 6.23744 20.8232 5.76256 20.5303 5.46967L15.7574 0.696699C15.4645 0.403806 14.9896 0.403806 14.6967 0.696699C14.4038 0.989593 14.4038 1.46447 14.6967 1.75736L18.9393 6L14.6967 10.2426C14.4038 10.5355 14.4038 11.0104 14.6967 11.3033C14.9896 11.5962 15.4645 11.5962 15.7574 11.3033L20.5303 6.53033ZM0 6.75H20V5.25H0V6.75Z" fill="#D67C32"/></svg>
				.nav__name Ход строительства
				
			a.nav__item.scrollTo(href="#docs")
				.nav__icon
					<svg width="21" height="12" viewBox="0 0 21 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M20.5303 6.53033C20.8232 6.23744 20.8232 5.76256 20.5303 5.46967L15.7574 0.696699C15.4645 0.403806 14.9896 0.403806 14.6967 0.696699C14.4038 0.989593 14.4038 1.46447 14.6967 1.75736L18.9393 6L14.6967 10.2426C14.4038 10.5355 14.4038 11.0104 14.6967 11.3033C14.9896 11.5962 15.4645 11.5962 15.7574 11.3033L20.5303 6.53033ZM0 6.75H20V5.25H0V6.75Z" fill="#D67C32"/></svg>
				.nav__name Документы
					
		.header__phone #[a(href="tel:+73832636401") +7 (383) 263-64-01]
		.header__nav-btns.nav-btns
			.nav-btns__list
				a.nav-btns__item.button.--xs.--orange.--icon-box(href="#modal-camera" data-popup="")
					span.button__icon
						<svg width="12" height="8" viewBox="0 0 12 8" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M9 2.28571V1.14286C9 0.839753 8.87357 0.549062 8.64853 0.334735C8.42348 0.120408 8.11826 0 7.8 0H1.2C0.88174 0 0.576515 0.120408 0.351472 0.334735C0.126428 0.549062 0 0.839753 0 1.14286V6.85714C0 7.16025 0.126428 7.45094 0.351472 7.66527C0.576515 7.87959 0.88174 8 1.2 8H7.8C8.11826 8 8.42348 7.87959 8.64853 7.66527C8.87357 7.45094 9 7.16025 9 6.85714V5.71429L12 8V0L9 2.28571Z" fill="white"/></svg>
					span.button__title онлайн #[br]камера
				a.nav-btns__item.button.--xs.--orange.--icon-box(href="tel:+78888888888")
					span.button__icon
						<svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M8.00051 8.52832L9.03383 7.49459C9.173 7.35708 9.34909 7.26296 9.5407 7.22363C9.73232 7.18431 9.93123 7.20149 10.1133 7.27307L11.3726 7.77609C11.5566 7.8508 11.7143 7.97831 11.826 8.14256C11.9376 8.30681 11.9982 8.50045 12 8.69907V11.0065C11.9989 11.1416 11.9705 11.2751 11.9165 11.399C11.8625 11.5228 11.784 11.6345 11.6858 11.7272C11.5875 11.8199 11.4715 11.8917 11.3448 11.9384C11.218 11.985 11.0831 12.0056 10.9482 11.9987C2.12352 11.4495 0.342894 3.97343 0.00614338 1.11221C-0.00948881 0.971699 0.0047939 0.829474 0.0480519 0.694886C0.0913098 0.560298 0.162563 0.436399 0.257123 0.331338C0.351683 0.226277 0.467407 0.142436 0.596683 0.0853313C0.725958 0.0282263 0.865855 -0.00084875 1.00717 1.88606e-05H3.23526C3.43408 0.000607621 3.62819 0.0606895 3.7926 0.172537C3.95702 0.284384 4.08422 0.442881 4.15786 0.627643L4.66068 1.88751C4.73461 2.0689 4.75347 2.26807 4.71491 2.46013C4.67635 2.65218 4.58208 2.82862 4.44387 2.96739L3.41055 4.00112C3.41055 4.00112 4.00563 8.02991 8.00051 8.52832Z" fill="white"/></svg>
				a.nav-btns__item.button.--xs.--orange.--icon-box(href="" target="_blank")
					span.button__icon
						<svg width="18" height="15" viewBox="0 0 18 15" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M17.3502 1.8825L14.8152 13.8375C14.624 14.6812 14.1252 14.8912 13.4165 14.4937L9.554 11.6475L7.69025 13.44C7.484 13.6462 7.3115 13.8187 6.914 13.8187L7.1915 9.885L14.3502 3.41625C14.6615 3.13875 14.2827 2.985 13.8665 3.2625L5.0165 8.835L1.2065 7.6425C0.377747 7.38375 0.362747 6.81375 1.379 6.41625L16.2815 0.674998C16.9715 0.416248 17.5752 0.828748 17.3502 1.8825Z" fill="white"/></svg>

				a.nav-btns__item.button.--xs.--orange.--icon-box(href="" target="_blank")
					span.button__icon
						<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0.0035251 20L1.35553 15.032C0.464663 13.5049 -0.00337891 11.768 -0.000474849 10C-0.000474849 4.477 4.47653 0 9.99953 0C15.5225 0 19.9995 4.477 19.9995 10C19.9995 15.523 15.5225 20 9.99953 20C8.2323 20.0029 6.49618 19.5352 4.96952 18.645L0.0035251 20ZM6.39052 5.308C6.26139 5.31602 6.1352 5.35003 6.01953 5.408C5.91105 5.46943 5.81202 5.54622 5.72552 5.636C5.60553 5.749 5.53753 5.847 5.46453 5.942C5.09494 6.423 4.89613 7.01342 4.89953 7.62C4.90153 8.11 5.02953 8.587 5.22953 9.033C5.63853 9.935 6.31153 10.89 7.20053 11.775C7.41453 11.988 7.62353 12.202 7.84853 12.401C8.95191 13.3725 10.2668 14.073 11.6885 14.447L12.2575 14.534C12.4425 14.544 12.6275 14.53 12.8135 14.521C13.1048 14.506 13.3891 14.4271 13.6465 14.29C13.7775 14.2225 13.9053 14.1491 14.0295 14.07C14.0295 14.07 14.0725 14.042 14.1545 13.98C14.2895 13.88 14.3725 13.809 14.4845 13.692C14.5675 13.606 14.6395 13.505 14.6945 13.39C14.7725 13.227 14.8505 12.916 14.8825 12.657C14.9065 12.459 14.8995 12.351 14.8965 12.284C14.8925 12.177 14.8035 12.066 14.7065 12.019L14.1245 11.758C14.1245 11.758 13.2545 11.379 12.7235 11.137C12.6675 11.1126 12.6075 11.0987 12.5465 11.096C12.4781 11.089 12.409 11.0967 12.3438 11.1186C12.2786 11.1405 12.2188 11.1761 12.1685 11.223V11.221C12.1635 11.221 12.0965 11.278 11.3735 12.154C11.332 12.2098 11.2749 12.2519 11.2093 12.2751C11.1438 12.2982 11.0728 12.3013 11.0055 12.284C10.9404 12.2666 10.8765 12.2445 10.8145 12.218C10.6905 12.166 10.6475 12.146 10.5625 12.109L10.5575 12.107C9.98543 11.8572 9.45575 11.5198 8.98752 11.107C8.86152 10.997 8.74452 10.877 8.62453 10.761C8.2311 10.3842 7.88824 9.95801 7.60452 9.493L7.54552 9.398C7.50315 9.33416 7.46888 9.2653 7.44353 9.193C7.40553 9.046 7.50453 8.928 7.50453 8.928C7.50453 8.928 7.74753 8.662 7.86053 8.518C7.95461 8.39832 8.0424 8.27382 8.12352 8.145C8.24152 7.955 8.27853 7.76 8.21653 7.609C7.93652 6.925 7.64652 6.244 7.34853 5.568C7.28953 5.434 7.11453 5.338 6.95553 5.319C6.90153 5.313 6.84752 5.307 6.79352 5.303C6.65923 5.29633 6.52466 5.29766 6.39052 5.307V5.308Z" fill="white"/></svg>
		a.header__button.button-choise.button.--lg.--bg-orange.show-pb-widget(href="javascript:;")
			span Выбрать квартиру
			<svg width="21" height="12" viewBox="0 0 21 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M20.5303 6.53033C20.8232 6.23744 20.8232 5.76256 20.5303 5.46967L15.7574 0.696699C15.4645 0.403806 14.9896 0.403806 14.6967 0.696699C14.4038 0.989593 14.4038 1.46447 14.6967 1.75736L18.9393 6L14.6967 10.2426C14.4038 10.5355 14.4038 11.0104 14.6967 11.3033C14.9896 11.5962 15.4645 11.5962 15.7574 11.3033L20.5303 6.53033ZM0 6.75H20V5.25H0V6.75Z" fill="white"/></svg>


	.header__right
		.header__right-wrap
			.header__ham.hidden.toggle-nav #[div]#[div]#[div]
			.header__deadline Срок сдачи - #[br]1кв. 2023г.
			a.header__camera.button.--xs.--orange.--icon-box(href="#modal-camera" data-popup="")
				span.button__icon
					<svg width="18" height="12" viewBox="0 0 18 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M13.5 3.42857V1.71429C13.5 1.25963 13.3104 0.823593 12.9728 0.502103C12.6352 0.180612 12.1774 0 11.7 0H1.8C1.32261 0 0.864773 0.180612 0.527208 0.502103C0.189642 0.823593 0 1.25963 0 1.71429V10.2857C0 10.7404 0.189642 11.1764 0.527208 11.4979C0.864773 11.8194 1.32261 12 1.8 12H11.7C12.1774 12 12.6352 11.8194 12.9728 11.4979C13.3104 11.1764 13.5 10.7404 13.5 10.2857V8.57143L18 12V0L13.5 3.42857Z" fill="white"/></svg>
				span.button__title онлайн камера

			.header__messengers.messengers
				.messengers__list
					a.messengers__item.button.--xs.--orange.--icon-box.--hidden(href="tel:+78888888888")
						span.button__icon
							<svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M8.00051 8.52832L9.03383 7.49459C9.173 7.35708 9.34909 7.26296 9.5407 7.22363C9.73232 7.18431 9.93123 7.20149 10.1133 7.27307L11.3726 7.77609C11.5566 7.8508 11.7143 7.97831 11.826 8.14256C11.9376 8.30681 11.9982 8.50045 12 8.69907V11.0065C11.9989 11.1416 11.9705 11.2751 11.9165 11.399C11.8625 11.5228 11.784 11.6345 11.6858 11.7272C11.5875 11.8199 11.4715 11.8917 11.3448 11.9384C11.218 11.985 11.0831 12.0056 10.9482 11.9987C2.12352 11.4495 0.342894 3.97343 0.00614338 1.11221C-0.00948881 0.971699 0.0047939 0.829474 0.0480519 0.694886C0.0913098 0.560298 0.162563 0.436399 0.257123 0.331338C0.351683 0.226277 0.467407 0.142436 0.596683 0.0853313C0.725958 0.0282263 0.865855 -0.00084875 1.00717 1.88606e-05H3.23526C3.43408 0.000607621 3.62819 0.0606895 3.7926 0.172537C3.95702 0.284384 4.08422 0.442881 4.15786 0.627643L4.66068 1.88751C4.73461 2.0689 4.75347 2.26807 4.71491 2.46013C4.67635 2.65218 4.58208 2.82862 4.44387 2.96739L3.41055 4.00112C3.41055 4.00112 4.00563 8.02991 8.00051 8.52832Z" fill="white"/></svg>
					a.messengers__item.button.--xs.--orange.--icon-box(href="" target="_blank")
						span.button__icon
							<svg width="18" height="15" viewBox="0 0 18 15" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M17.3502 1.8825L14.8152 13.8375C14.624 14.6812 14.1252 14.8912 13.4165 14.4937L9.554 11.6475L7.69025 13.44C7.484 13.6462 7.3115 13.8187 6.914 13.8187L7.1915 9.885L14.3502 3.41625C14.6615 3.13875 14.2827 2.985 13.8665 3.2625L5.0165 8.835L1.2065 7.6425C0.377747 7.38375 0.362747 6.81375 1.379 6.41625L16.2815 0.674998C16.9715 0.416248 17.5752 0.828748 17.3502 1.8825Z" fill="white"/></svg>

					a.messengers__item.button.--xs.--orange.--icon-box(href="" target="_blank")
						span.button__icon
							<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0.0035251 20L1.35553 15.032C0.464663 13.5049 -0.00337891 11.768 -0.000474849 10C-0.000474849 4.477 4.47653 0 9.99953 0C15.5225 0 19.9995 4.477 19.9995 10C19.9995 15.523 15.5225 20 9.99953 20C8.2323 20.0029 6.49618 19.5352 4.96952 18.645L0.0035251 20ZM6.39052 5.308C6.26139 5.31602 6.1352 5.35003 6.01953 5.408C5.91105 5.46943 5.81202 5.54622 5.72552 5.636C5.60553 5.749 5.53753 5.847 5.46453 5.942C5.09494 6.423 4.89613 7.01342 4.89953 7.62C4.90153 8.11 5.02953 8.587 5.22953 9.033C5.63853 9.935 6.31153 10.89 7.20053 11.775C7.41453 11.988 7.62353 12.202 7.84853 12.401C8.95191 13.3725 10.2668 14.073 11.6885 14.447L12.2575 14.534C12.4425 14.544 12.6275 14.53 12.8135 14.521C13.1048 14.506 13.3891 14.4271 13.6465 14.29C13.7775 14.2225 13.9053 14.1491 14.0295 14.07C14.0295 14.07 14.0725 14.042 14.1545 13.98C14.2895 13.88 14.3725 13.809 14.4845 13.692C14.5675 13.606 14.6395 13.505 14.6945 13.39C14.7725 13.227 14.8505 12.916 14.8825 12.657C14.9065 12.459 14.8995 12.351 14.8965 12.284C14.8925 12.177 14.8035 12.066 14.7065 12.019L14.1245 11.758C14.1245 11.758 13.2545 11.379 12.7235 11.137C12.6675 11.1126 12.6075 11.0987 12.5465 11.096C12.4781 11.089 12.409 11.0967 12.3438 11.1186C12.2786 11.1405 12.2188 11.1761 12.1685 11.223V11.221C12.1635 11.221 12.0965 11.278 11.3735 12.154C11.332 12.2098 11.2749 12.2519 11.2093 12.2751C11.1438 12.2982 11.0728 12.3013 11.0055 12.284C10.9404 12.2666 10.8765 12.2445 10.8145 12.218C10.6905 12.166 10.6475 12.146 10.5625 12.109L10.5575 12.107C9.98543 11.8572 9.45575 11.5198 8.98752 11.107C8.86152 10.997 8.74452 10.877 8.62453 10.761C8.2311 10.3842 7.88824 9.95801 7.60452 9.493L7.54552 9.398C7.50315 9.33416 7.46888 9.2653 7.44353 9.193C7.40553 9.046 7.50453 8.928 7.50453 8.928C7.50453 8.928 7.74753 8.662 7.86053 8.518C7.95461 8.39832 8.0424 8.27382 8.12352 8.145C8.24152 7.955 8.27853 7.76 8.21653 7.609C7.93652 6.925 7.64652 6.244 7.34853 5.568C7.28953 5.434 7.11453 5.338 6.95553 5.319C6.90153 5.313 6.84752 5.307 6.79352 5.303C6.65923 5.29633 6.52466 5.29766 6.39052 5.307V5.308Z" fill="white"/></svg>

			a.header__btn-choise.button-choise.button.--md.--bg-orange.hidden.show-pb-widget(href="javascript:;") Выбрать квартиру